@font-face{
    font-family: 'Whyte Inktrap';
    src: url(fonts/WhyteInktrap-Medium\ copie.woff2)format('woff2');
    src: url(fonts/WhyteInktrap-Medium\ copie.woff)format('woff');
    }

    @font-face{
      font-family: 'Baunk';
      src: url(fonts/Baunk.woff)format('woff');
    }
       
    body{
      background-color: blue;
    }

    p{
      color:    white;
    }

    .lien {
      color: white;
    }

    .lien :visited{
     color: azure;
    }

    .lien :hover{
      color: rgb(255, 8, 8);
    }



    h1{
      color:    white;
    }
    h2{
      color:    white;
    }
    .mail{
      color:    white;
    }

    h1 {
    line-height: 1;
    text-align: center;
    font-size: 60px;
    font-family: 'Whyte Inktrap';
    border-bottom-style: dashed;
    border-width: 2px;
    padding-bottom: 50px;
    text-decoration: underline;
     }

     
     h2{
        line-height: 1;
        text-align: center;
        font-size: 20px;
        font-family: 'Baunk';
        margin-top: 50px;
        text-decoration: underline;
     }

     p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        max-width: 50%;
        justify-content: center;
        margin: auto;
        border-style: solid;
        padding: 20px;
     }

     .mail{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 800;
        max-width: 70%;
        justify-content: center;
        margin: auto;
        padding: 20px;
     }

     @media (max-width:720px){
      .mail{
          font-size: 25px;
      }
      .text{
         font-size: 18px;
      }

    }
    @media (max-width:410px){
      .mail{
        font-size: 20px;
      }

      .text{
         font-size: 15px;
      }
    }

    @media (max-width:350px){
      .mail{
        font-size: 16px;
      }
    }


     .banner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 1000px;
        margin: auto;
        max-width: 80%;
       }
       
       .home{
        margin: auto;
        fill: white;
       }

       .home svg{
        width: 80px;
       }

       .home svg:hover{
        width: 80px;
        fill: rgb(255, 8, 8);
       }