    @font-face{
    font-family: 'Whyte Inktrap';
    src: url(fonts/WhyteInktrap-Medium\ copie.woff2)format('woff2');
    src: url(fonts/WhyteInktrap-Medium\ copie.woff)format('woff');
    }

    @font-face{
      font-family: 'Baunk';
      src: url(fonts/Baunk.woff)format('woff');
    }
       
        .infos{
        font-family: Arial, Helvetica, sans-serif;
        text-align: end;
        font-size: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        }

        .infos a{
            color: black;
            text-decoration: none;
            font-weight: 900;
          }
          
          .infos a:visited{
          
          color: black;
          text-decoration: none;
          font-weight: 900;
          }
          
          .infos a:hover{
              color: blue;
              text-decoration: none;
              font-weight: 900;
          }


    .title {
    line-height: 1;
    text-align: center;
    font-size: 60px;
    font-family: 'Whyte Inktrap';
    border-bottom-style: dashed;
    border-width: 2px;
    padding-bottom: 50px;
    text-decoration: underline;
     }

     
     h2{
        line-height: 1;
        text-align: center;
        font-size: 20px;
        font-family: 'Baunk';
        margin-top: 50px;
        text-decoration: underline;
     }

     p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 800;
        max-width: 80%;
        justify-content: center;
        margin: auto;
        margin-bottom: 5px;
     }

     .eng{
      text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 300;
        max-width: 80%;
        justify-content: center;
        margin: auto;
        margin-bottom: 20px;
     }


     .test{
         width: 400px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        grid-gap:30px;
     }

     .video{
        
      width: 80%;
      margin: auto;
      justify-content: center;
      align-items:center;
      display: flex;
      position: relative;



     }

     .banner{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      width: 1000px;
      margin: auto;
      max-width: 80%;
     }

     .left{
      width: 80px;
      margin: auto;
     }

     .home{
      width: 80px;
      margin:auto
     }

     .right{
      width: 80px;
      margin: auto;
     }


     .home a{
      color: black;
    }
    
    .home a:visited{
    
    color: black;
    }
    
    .home a:hover{
        color: blue;
    }

    .test{
      display: grid;
      margin: auto;
      grid-template-columns: repeat(1,1fr);
      width: 500px;
      grid-gap:30px;

  
  }
  .box img{
    width: 500px;
    margin: auto;
}


    @media (max-width:720px){
      .title{
          font-size: 45px;
          margin: auto;
      }

      .box img{
        width: 400px;
        margin: auto;
      }

      .test{
        width: 400px;
        margin: auto;
      }
    
    }
    @media (max-width:420px){
      .title{
        font-size: 40px;
        margin: auto;
      }
      .box img{
        width: 300px;
        margin: auto;
      }

      .test{
        width: 300px;
        margin: auto;
      }

    }

    @media (max-width:380px){
      .title{
        font-size: 35px;
        margin: auto;
      }

      .box img{
        width: 250px;
        margin: auto;
      }

      .test{
        width: 250px;
        margin: auto;
      }


    }






    



    