*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'Whyte Inktrap';
  src: url(fonts/WhyteInktrap-Medium\ copie.woff2)format('woff2');
  src: url(fonts/WhyteInktrap-Medium\ copie.woff)format('woff');
}

@font-face{
  font-family: 'Baunk';
  src: url(fonts/Baunk.woff)format('woff');
}
/* -------------------------------------------------------texte deroulant début -------------------------------------------------- */

body {
  height: 100vh;
}

.test {
overflow: hidden;
display: flex;
/* Fonctionne avec toutes les tailles */
width: 100%;
position: absolute;
top: 1.5%;
transform: translateY(-50%);
/* pour rotate on enlève le translate et on rajoute le rotate */
/* transform:  rotate(90deg); */
}
.txt {
white-space: nowrap;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
animation: scrollTxt 40s linear infinite;
margin-top: 10px;
padding: 5px;
}

.t1 {
/* color: red; */
background-color: rgb(64, 255, 0);
}
.t2 {
/* color: blue; */
background-color: rgb(64, 255, 0);
}
@keyframes scrollTxt {
0%{
  transform: translate(0, 0);
}
100% {
  transform: translate(-100%, 0);
}
}

/* -------------------------------------------------------texte deroulant fin -------------------------------------------------- */

p{
  color: black;
 
}
.fin{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: 100;
}

.title {
  line-height: 1;
  text-align: center;
  font-size: 60px;
  font-family: 'Whyte Inktrap';
  margin: auto;
  margin-bottom: -30px;
  max-width: 90%;
}

h2{
  line-height: 1;
  text-align: center;
  font-size: 20px;
  font-family: 'Baunk';
  margin: 50px auto;
  border-bottom-style: dashed;
  border-width: 2px;
  padding-bottom: 40px;
  font-weight: 200;
  text-decoration: underline;
}

.thanks{
  display: block;
  width: 150px;
  margin: auto;
}


img{
  display: block;
  max-width: 100%;
}
.infos{
  font-family: Arial, Helvetica, sans-serif;
  text-align: end;
  font-size: 20px;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.infos a{
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.infos a:visited{

color: black;
text-decoration: none;
font-weight: 900;
}

.infos a:hover{
    color: blue;
    text-decoration: none;
    font-weight: 900;
}




.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap:100px;
  gap:100px;
  margin:100px;
}

.visuels1 {
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  font-family: 'Neuebit', sans-serif;
  font-size: 15px; 
  text-transform: uppercase;
  color: white;
  text-align: center;
  display: grid;
}
.visuels1 img{
  grid-area: 1/-1/1/-1;
  margin:10%;
  max-width: 80%;
  border-radius: 5%;
  border:1px solid black;
}


.visuels1 p{
  padding: 2px;
  width:50%;
  background: #FC94FF;
  border-radius: 25px;
  text-align: center;
  border:1px solid black;
  grid-area: 1/-1/1/-1;
  align-self: flex-end;
  justify-self: center;
  line-height: 25px;
  transform: translateY(-50%);
}

.visuels2 {
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  font-family: 'Neuebit', sans-serif;
  font-size: 15px; 
  text-transform: uppercase;
  color: white;
  text-align: center;
  display: grid;
}
.visuels2 img{
  grid-area: 1/-1/1/-1;
  margin:10%;
  max-width: 80%;
  border: 1px solid black;
  border-radius: 5%;
}
.visuels2 p{
  padding: 2px;
  width:60%;
  background: #92CEFF;
  border-radius: 25px;
  text-align: center;
  border:1px solid black;
  grid-area: 1/-1/1/-1;
  align-self: flex-end;
  justify-self: center;
  line-height: 25px;
  transform: translateY(-50%);
}

.visuels3 {
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  font-family: 'Neuebit', sans-serif;
  font-size: 15px; 
  text-transform: uppercase;
  color: white;
  text-align: center;
  display: grid;
  
}
.visuels3 img{
  grid-area: 1/-1/1/-1;
  margin:10%;
  max-width: 80%;
  border: 1px solid black;
  border-radius: 5%;
}
.visuels3 p{
  padding: 2px;
  width:50%;
  background: #FFFA94;
  border-radius: 25px;
  text-align: center;
  border:1px solid black;
  grid-area: 1/-1/1/-1;
  align-self: flex-end;
  justify-self: center;
  line-height: 25px;
  transform: translateY(-50%);
}



.thx{
  width: 280px;
  margin-top: -20px;
  margin: auto;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}

.title{
  color:rgb(0, 0, 0);
}
@media (max-width:720px){
  .title{
      font-size: 50px;
  }
}
@media (max-width:400px){
  .title{
    font-size: 40px;
  }
}

@media (max-width:720px){
  .subtitle{
      font-size: 18px;
  }
}
@media (max-width:400px){
  .subtitle{
    font-size: 15px;
  }
}

@media (max-width:720px){
  .infos{
      font-size: 18px;
  }
}
@media (max-width:400px){
  .infos{
    font-size: 15px;
  }
}